.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    position: relative;
}

.navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    transition: all 0.3s ease;
}

.navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-links li a:hover {
    color: #ddd;
}

/* Hamburger menu styling */
.hamburger {
    display: none;
    cursor: pointer;
}

.logout-button {
    background: none;
    border: none;
    cursor: pointer;
}

.logout-button:hover {
    color: #ddd;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar-links {
        position: absolute;
        top: 60px;
        right: 0;
        flex-direction: column;
        background-color: #333;
        width: 100%;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
    }
    
    .navbar-links.active {
        height: auto;
        visibility: visible;
        opacity: 1;
        align-items: flex-end;
        padding-bottom: 1rem;
    }

    .navbar-links li {
        margin: 0.5rem 0;
        text-align: center;
        padding-right: 1rem;
    }

    .hamburger {
        display: block;
    }
}